.title {
    font-size: 220px;
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 5px;
    position: relative;
    color:white;
    background-color: rgba(0, 0, 0, 0.603);

}

.col-xs-12{
  color: #000000;
  width: 60%;
  text-align: center;
  justify-content: center;
  display: inline-block;
  left: 50%;
  margin-left: 180px;

}
.texto{
  margin-left: 20px;
  margin-right: 20px;

}

.cardgeneral2 {
  justify-content: center;
  box-shadow: 10px 10px 32px 0 rgba(0, 0, 0, 0.747);
  transition: 0.3s;
  width: 1000px;
  height: 200px;
  margin:0px auto;
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background: rgba(255, 255, 255, 0.726);
  border-radius: 20px;

}

.cardgeneral3 {
  justify-content: center;
  box-shadow: 10px 10px 32px 0 rgba(0, 0, 0, 0.747);
  width: 1000px;
  margin:0px auto;
  background-color: rgb(0, 0, 0);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background: rgba(255, 255, 255, 0.63);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.resultado{
  box-shadow: 2px 2px 5px #999;
  background-color: white;
  justify-content: center;
  width: 800px;
  margin:0px auto;
  border-radius: 20px;

}